$textcolor: #677788;

.mid-container, .stats {
    background-color: #f7fafe;
}

.text {
    color: $textcolor;
}

.innercontainer {
    max-width: 450px;
}

.blog-container {
    margin-top: 7em;
    padding-bottom: 7em;
}

nav {
    background-color: #ffffff;
}